body{
    text-align: center;
    font-family: sans-serif;
}
.About1{
    display: grid;
    grid-gap: 20px;
    grid-template-areas: "heading heading heading";
}
.heading{
    text-align: center;
    grid-area: heading;
}
footer {
    background-color: #f8f8f8;
    padding: 20px 0;
    color: #333;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-logo img {
    width: 100px;
    height: auto;
}

.footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-links li {
    margin-bottom: 10px;
}

.footer-links a {
    text-decoration: none;
    color: #333;
}

.social-icon {
    font-size: 24px;
    margin-right: 15px;
    color: #333;
}

.footer-bottom {
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #ddd;
}